.container {
    height: 3000px;
    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .container-chart {
            display: flex;
            gap: 5px;
            height: 55rem;
            .title {
                font-size: 1.9rem;
                font-weight: 500;
                line-height: 23.04px;
                margin: 0px 0px 8px;
            }
            .sales-chart,
            .channel {
                width: 100%;
                padding: 10px;
            }
            .sales-chart {
                flex: 1.2;
            }
            .channel {
                flex: .8;
            }
            .chart,
            .channel-chart {
                height: 90%;
                margin-top: 3rem;
                background-color: var(--white);
                border-radius: 1.6rem;
                font-size: 1.4rem;
                line-height: 2.1rem;
                padding: 2.4rem;
            }
        }
        .graph {
            display: flex;
            gap: 2.5rem;
            height: 22.5rem;
            padding: 5px 10px;
            .graph-orders,
            .graph-sales,
            .graph-reviews {
                flex: 1;
                background-color: var(--white);
                border-radius: 1rem;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    font-size: 21px;
                    font-weight: 500;
                    line-height: 31.5px;
                    margin: 0px 0px 16px;
                }
                .amount {
                    font-size: 32px;
                    line-height: 38.4px;
                }
                .rate-of-change {
                    color: #05b171;
                    font-size: 14px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .icon-graph {
                        display: inline;
                        font-size: 32px;
                        line-height: 38.4px;
                    }
                    .icon-more {
                        display: inline;
                        font-size: 14px;
                        line-height: 38.4px;
                        cursor: pointer;
                    }
                }
            }
            .graph-reviews {
                display: flex;
                justify-content: left;
                gap: 15px;
                .card-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .view-all {
                        color: #ff6e40;
                        display: inline;
                        font-size: 14px;
                        line-height: 21px;
                        cursor: pointer;
                        &:hover {
                            color: #cc5833;
                        }
                    }
                }
                .reviewers {
                    width: 485px;
                }
            }
        }
        .overview-actions {
            display: flex;
            gap: 20px;
            .cards-overview {
                flex: .9;
                .cards {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-top: 30px;
                    .card {
                        width: 295px;
                        height: 206px;
                        background-color: var(--white);
                        border-radius: 16px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .card-process {
                            width: 240px;
                            height: 5px;
                            background-color: var(--bs-white-ocean);
                            border-radius: 30px;
                            overflow: hidden;
                            .process-bar {
                                width: 50%;
                                height: 100%;
                                background-color: var(--bs-purple-lighter);
                            }
                        }
                        .icon {
                            color: var(--bs-purple-lighter);
                            font-size: 48px;
                            line-height: 57.6px;
                        }
                        &:nth-child(2) {
                            .icon {
                                color: var(--bs-orange-lighter);
                            }
                            .process-bar {
                                background-color: var(--bs-orange-lighter);
                            }
                        }
                        &:nth-child(3) {
                            .icon {
                                color: var(--bs-cyan-lighter);
                            }
                            .process-bar {
                                background-color: var(--bs-cyan-lighter);
                            }
                        }
                        &:last-child {
                            .icon {
                                color: var(--bs-green-lighter);
                            }
                            .process-bar {
                                background-color: var(--bs-green-lighter);
                            }
                        }
                    }
                }
            }
            .recent-product {
                flex: 1.15;
                .table-product {
                    margin-top: 30px;
                    background-color: var(--white);
                    border-radius: 16px;
                    font-size: 14px;
                    line-height: 21px;
                    padding: 24px;
                    height: 450px;
                    .title-table {
                        color: #6c757d;
                        font-size: 14px;
                        line-height: 21px;
                        margin: 0px 0px 16px;
                        margin-bottom: 30px;
                        display: block;
                    }
                    .table {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .title-overview {
                font-size: 19px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .menu-more {
            background-color: var(--white);
            border-radius: 8px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            color: #212529;
            font-size: 14px;
            padding: 8px 0px;
            width: 209px;
            .action-more {
                display: flex;
                flex-direction: column;
                justify-content: left;
                .btn-action-more {
                    color: #898b8d;
                    font-size: 12px;
                    padding: 8px 25px;
                    text-align: left;
                    width: 100%;
                    flex: 1;
                    text-transform: none;
                    background-color: transparent;
                    &:hover {
                        color: #ff6e40;
                    }
                }
            }
        }
    }
}