.table-header {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  .table-cell {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
table {
  width: 100%;
}
table,
th,
td {
  border-collapse: collapse;
}
th,
td {
  padding: 10px 5px;
  text-align: center;
  border-bottom: 1px solid #c5bcbc;
}
tr {
  padding: 10px;
}
.error {
  text-align: center;
  color: red;
  border-bottom: none;
}
